!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/screen.css')
    link(rel='stylesheet', href='/stylesheets/print.css')
    /if lt IE 8
      link(rel='stylesheet', href='/stylesheets/ie.css')
    
  body!= body