// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset

// To configure blueprint, edit the partials/base.sass file.
@import partials/base

// Import all the default blueprint modules so that we can access their mixins.
@import blueprint

// Import the non-default scaffolding module.
@import blueprint/scaffolding

// Combine the partials into a single screen stylesheet.
@import partials/page
@import partials/form
@import partials/two_col

// Generate the blueprint framework according to your configuration:
+blueprint
+blueprint-scaffolding

html
  background: #eee

body
  padding: 54px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF